.avatar-user-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 0.5rem;
  text-transform: none;
}


.avatar {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #2563eb;
  color: #fff;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.category-dropdown{
  height: 40px;
}

.user-name{
  font-weight: 550;
}